
.link {
    text-decoration: none;
    color: blue;
    transition: color 0.3s ease 0s;

    &:hover {
        color: rgba($color: blue, $alpha: 0.5);
    }
    
}

.active {
    color: rgba($color: rgb(2, 2, 39), $alpha: 7.0);
}